/* CONFIGURAÇÕES GERAIS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --color-background: #fafafa;
  --color-content: #ffffff;
  --color-button: #0095f6;
  --color-border: rgb(219, 219, 219);
  --color-text-verification: rgb(142, 142, 142);
  --color-text-stores: rgba(38, 38, 38);
}

body {
  background-color: var(--color-background);
}

/* ========== MAIN ========== */
.l-main {
  position: relative;
  width: 100%;
  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font: 600 14px 'Segoe UI', sans-serif;
  color: var(--color-content);
}

.c-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.c-article__login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 1rem;
}

.c-article__login__user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 2rem;

  background-color: var(--color-content);

  padding: 2rem 2rem;

  border: 1px solid var(--color-border);
}

.e-img-user {
  width: 86px;
  height: 86px;
  clip-path: circle();
}

.e-button-login {
  border: none;
  background-color: var(--color-button);
  padding: 0.4rem 0.5rem;

  color: var(--color-content);
  font-weight: 600;

  border-radius: 3px;
  cursor: pointer;
}

.e-link-remove {
  cursor: pointer;
  color: var(--color-button);
  text-decoration: none;
}

.c-article__login__account {
  position: relative;
  width: 100%;
  padding: 1.5rem 1.5rem;

  border: 1px solid var(--color-border);
  background-color: var(--color-content);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;

  color: var(--color-text-verification);
}

.e-text__account__link {
  color: var(--color-button);
  text-decoration: none;
}

.c-article__login__apps {
  color: var(--color-text-stores);
  line-height: 18px;

  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;

  gap: 0.5rem;
}

.e-store__img {
  width: auto;
  height: 40px;
}

/* ========== SECTION => ARTICLE CELLPHONE  ========== */

.c-article__cellphone {
  position: relative;
}

.e-cellphone__carrosel {
  position: absolute;
  z-index: 1;
  left: 157px;
  top: 26px;

  opacity: 0;
}

.hide-carrosel {
  opacity: 0;
  transition: opacity 1.5s ease-out;
}

.show-carrosel {
  opacity: 1;
  transition: opacity 1.5s ease-in;
}

/* ========== FOOTER ========== */
.l-footer {
  position: relative;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;

  font: 400 12px 'Segoe UI', sans-serif;
  color: var(--color-text-verification);

  margin-bottom: 2rem;
}

.c-footer__functions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  padding: 0rem 2rem 1rem 2rem;
}

.c-footer__functions__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.c-footer__functions__list__item__link {
  color: var(--color-text-verification);
  text-decoration: none;
}

.c-footer__options__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.c-footer__options__list__item__link {
  color: var(--color-text-verification);
  text-decoration: none;
}

.c-footer__brand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.e-select-idioms {
  border: none;

  font: 400 12px 'Segoe UI', sans-serif;
  color: var(--color-text-verification);
}

@media (max-width: 450px) {
  body {
    background-color: var(--color-background);
  }

  /* ========== MAIN ========== */
  .c-section {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .c-article__login {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .c-article__login__user {
    border: none;
    background-color: var(--color-background);
  }

  .c-article__login__account {
    border: none;
    background-color: var(--color-background);
  }
}

@media (max-width: 875px) {
  .c-article__cellphone {
    display: none;
  }
}
